[global_config]
  title_transmit_fg_color = "#6d727e"
  title_transmit_bg_color = "#c5c1b4"
  title_inactive_fg_color = "#6d727e"
  title_inactive_bg_color = "#a1a6b2"

[profiles]
  [[default]]
    palette = "#c5c1b4:#e75c58:#00a250:#a08a00:#208ffb:#d160c4:#00a4c1:#3e424d:#a1a6b2:#b22b31:#007427:#715f00:#0065ca:#a03196:#007693:#282c36"
    foreground_color = "#6d727e"
    background_color = "#fef9ec"
    cursor_color = "#6d727e"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
