[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#252525"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#454545"

[profiles]
  [[default]]
    palette = "#252525:#ef6769:#a6e22e:#fd971f:#6495ed:#deb887:#b0c4de:#dbdcdc:#454545:#fc7ca5:#b6e354:#fd971f:#87ceeb:#996600:#87ceeb:#fdfdfd"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
