[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#111111"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#666666"

[profiles]
  [[default]]
    palette = "#111111:#d36265:#aece91:#e7e18c:#5297cf:#963c59:#5e7175:#bebebe:#666666:#ef8171:#cfefb3:#fff796:#74b8ef:#b85e7b:#a3babf:#ffffff"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
