[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#303030"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#5f5f5f"

[profiles]
  [[default]]
    palette = "#303030:#c03000:#b1d631:#fecf35:#426870:#6d506d:#4bb5c1:#e2e2e5:#5f5f5f:#ff3a78:#a6cd07:#b5c865:#4a7781:#ff3b77:#4bb5c1:#e2e2e5"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
