[global_config]
  title_transmit_fg_color = "#a2a2a2"
  title_transmit_bg_color = "#4e4e4e"
  title_inactive_fg_color = "#a2a2a2"
  title_inactive_bg_color = "#777777"

[profiles]
  [[default]]
    palette = "#4e4e4e:#a9635d:#468459:#84763d:#5879af:#9c6594:#008592:#cfcfcf:#777777:#ffbbb2:#9ddeaf:#e0ce91:#b3d1ff:#fabdf0:#79e0ed:#ffffff"
    foreground_color = "#a2a2a2"
    background_color = "#292929"
    cursor_color = "#a2a2a2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
