[global_config]
  title_transmit_fg_color = "#1c2027"
  title_transmit_bg_color = "#192033"
  title_inactive_fg_color = "#1c2027"
  title_inactive_bg_color = "#666666"

[profiles]
  [[default]]
    palette = "#192033:#a62a3e:#38912b:#b27d12:#355c9a:#7c4f9f:#258f8f:#77858c:#666666:#f04758:#93c724:#ddb62b:#45a3e6:#c953ef:#60c6c8:#c0c0c0"
    foreground_color = "#1c2027"
    background_color = "#cfcfd9"
    cursor_color = "#1c2027"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
