[global_config]
  title_transmit_fg_color = "#bebebe"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#bebebe"
  title_inactive_bg_color = "#222222"

[profiles]
  [[default]]
    palette = "#000000:#f25a5a:#77bb33:#efc334:#5555dd:#c350ff:#5af2ee:#bebebe:#222222:#ffbbbb:#dcf692:#f6df92:#b2baf6:#f09fff:#5af2ee:#eeeeee"
    foreground_color = "#bebebe"
    background_color = "#000000"
    cursor_color = "#bebebe"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
