[global_config]
  title_transmit_fg_color = "#888a8c"
  title_transmit_bg_color = "#515151"
  title_inactive_fg_color = "#888a8c"
  title_inactive_bg_color = "#707172"

[profiles]
  [[default]]
    palette = "#515151:#bf6382:#65a446:#ad8a43:#6b85c2:#9e6bb8:#5c9d88:#919191:#707172:#eaaec2:#aed49b:#d4c3a0:#afc4e9:#d2b1e2:#a4d0c1:#d0d0d0"
    foreground_color = "#888a8c"
    background_color = "#1e2021"
    cursor_color = "#888a8c"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
