[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#222222"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#666666"

[profiles]
  [[default]]
    palette = "#222222:#e84f4f:#b7ce42:#fea63c:#66aabb:#b7416e:#6d878d:#dddddd:#666666:#d23d3d:#bde077:#ffe863:#aaccbb:#e16a98:#42717b:#cccccc"
    foreground_color = "#ffffff"
    background_color = "#161616"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
