[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#393939"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#474747"

[profiles]
  [[default]]
    palette = "#393939:#da4939:#9acc79:#d0d26b:#6d9cbe:#9f5079:#435d75:#c2c2c2:#474747:#ff6c5c:#8fb676:#c8bc45:#d0d0ff:#a761c2:#6e98a4:#c2c2c2"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
