[global_config]
  title_transmit_fg_color = "#b2a191"
  title_transmit_bg_color = "#202020"
  title_inactive_fg_color = "#b2a191"
  title_inactive_bg_color = "#404040"

[profiles]
  [[default]]
    palette = "#202020:#bf3f34:#707d22:#bf7a29:#627a92:#75507b:#757978:#b2a191:#404040:#ff6c5f:#b8ca4b:#c7a551:#95b9de:#ad7fa8:#9fa590:#e8d0c3"
    foreground_color = "#b2a191"
    background_color = "#171717"
    cursor_color = "#b2a191"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
