[global_config]
  title_transmit_fg_color = "#f1ebeb"
  title_transmit_bg_color = "#48483e"
  title_inactive_fg_color = "#f1ebeb"
  title_inactive_bg_color = "#76715e"

[profiles]
  [[default]]
    palette = "#48483e:#dc2566:#8fc029:#d4c96e:#55bcce:#9358fe:#56b7a5:#acada1:#76715e:#fa2772:#a7e22e:#e7db75:#66d9ee:#ae82ff:#66efd5:#cfd0c2"
    foreground_color = "#f1ebeb"
    background_color = "#272822"
    cursor_color = "#f1ebeb"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
