[global_config]
  title_transmit_fg_color = "#e8dfd6"
  title_transmit_bg_color = "#032c36"
  title_inactive_fg_color = "#e8dfd6"
  title_inactive_bg_color = "#065f73"

[profiles]
  [[default]]
    palette = "#032c36:#c2454e:#7cbf9e:#8a7a63:#2e3340:#ff5879:#44b5b1:#f2f1b9:#065f73:#ef5847:#a2d9b1:#beb090:#61778d:#ff99a1:#9ed9d8:#f6f6c9"
    foreground_color = "#e8dfd6"
    background_color = "#021b21"
    cursor_color = "#e8dfd6"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
