[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#393939"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#474747"

[profiles]
  [[default]]
    palette = "#393939:#ff9f95:#e2ffc7:#ffffb9:#a8ceea:#e2b5cc:#c2efff:#dddddd:#474747:#ff8d80:#dbffb3:#ffbe64:#7eb6ff:#e296ff:#9ce9ff:#dddddd"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
