[global_config]
  title_transmit_fg_color = "#a2a2a2"
  title_transmit_bg_color = "#555555"
  title_inactive_fg_color = "#a2a2a2"
  title_inactive_bg_color = "#888888"

[profiles]
  [[default]]
    palette = "#555555:#9c3528:#61bc3b:#f3b43a:#0d68a8:#744560:#288e9c:#a2a2a2:#888888:#d64937:#86df5d:#fdd75a:#0f75bd:#9e5e83:#37c3d6:#f9f9f9"
    foreground_color = "#a2a2a2"
    background_color = "#282828"
    cursor_color = "#a2a2a2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
