[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#251f1f"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#5e5e5e"

[profiles]
  [[default]]
    palette = "#251f1f:#eb4509:#94e76b:#ffac18:#46aede:#e32c57:#d6dbac:#efefef:#5e5e5e:#eb4509:#95e76b:#ffac18:#46aede:#e32c57:#d6dbac:#efefef"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
