[global_config]
  title_transmit_fg_color = "#a8a8a8"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#a8a8a8"
  title_inactive_bg_color = "#545054"

[profiles]
  [[default]]
    palette = "#000000:#a80000:#00a800:#a85400:#0000a8:#a800a8:#00a8a8:#a8a8a8:#545054:#f85450:#50fc50:#f8fc50:#5054f8:#f854f8:#50fcf8:#f8fcf8"
    foreground_color = "#a8a8a8"
    background_color = "#000000"
    cursor_color = "#a8a8a8"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
