[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#1b1d1e"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#505354"

[profiles]
  [[default]]
    palette = "#1b1d1e:#f92672:#82b414:#fd971f:#4e82aa:#8c54fe:#465457:#ccccc6:#505354:#ff5995:#b6e354:#feed6c:#0c73c2:#9e6ffe:#899ca1:#f8f8f2"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
