[global_config]
  title_transmit_fg_color = "#dddddd"
  title_transmit_bg_color = "#191919"
  title_inactive_fg_color = "#dddddd"
  title_inactive_bg_color = "#252525"

[profiles]
  [[default]]
    palette = "#191919:#803232:#5b762f:#aa9943:#324c80:#706c9a:#92b19e:#ffffff:#252525:#982b2b:#89b83f:#efef60:#2b4f98:#826ab1:#a1cdcd:#dddddd"
    foreground_color = "#dddddd"
    background_color = "#222222"
    cursor_color = "#dddddd"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
