[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#303430"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#cdb5cd"

[profiles]
  [[default]]
    palette = "#303430:#bf7979:#97b26b:#cdcdc1:#86a2be:#d9b798:#a1b5cd:#ffffff:#cdb5cd:#f4a45f:#c5f779:#ffffed:#98afd9:#d7d998:#a1b5cd:#dedede"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
