[global_config]
  title_transmit_fg_color = "#dcdccc"
  title_transmit_bg_color = "#666666"
  title_inactive_fg_color = "#dcdccc"
  title_inactive_bg_color = "#888888"

[profiles]
  [[default]]
    palette = "#666666:#ff8278:#bde077:#eadc84:#77bee0:#dd91f3:#ffc178:#dddddd:#888888:#ff8278:#bde077:#eadc84:#77bee0:#dd91f3:#ffc178:#cccccc"
    foreground_color = "#dcdccc"
    background_color = "#575757"
    cursor_color = "#dcdccc"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
