[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#4a4b4a"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#696969"

[profiles]
  [[default]]
    palette = "#4a4b4a:#d7699a:#80d468:#d7a169:#6985d7:#c86ad4:#6fccd1:#dbdcdc:#696969:#f5a2b5:#a3f2a0:#f5cda2:#a2c1f5:#d2a2f5:#a0e9f2:#fdfdfd"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
