[global_config]
  title_transmit_fg_color = "#c2b9a1"
  title_transmit_bg_color = "#1c1709"
  title_inactive_fg_color = "#c2b9a1"
  title_inactive_bg_color = "#4f4939"

[profiles]
  [[default]]
    palette = "#1c1709:#8e4317:#787200:#945c00:#315094:#5c2e40:#00617d:#c2b9a1:#4f4939:#f07935:#d9d138:#ffab26:#8aa9ed:#ff8cb8:#43bfe0:#f2e8c9"
    foreground_color = "#c2b9a1"
    background_color = "#1c1709"
    cursor_color = "#c2b9a1"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
