[global_config]
  title_transmit_fg_color = "#66ff66"
  title_transmit_bg_color = "#1c1c1c"
  title_inactive_fg_color = "#66ff66"
  title_inactive_bg_color = "#4d4d4d"

[profiles]
  [[default]]
    palette = "#1c1c1c:#d81860:#60ff60:#f9fd75:#4695c8:#a78edb:#43afce:#f3ebe2:#4d4d4d:#f00060:#70ff70:#f9fd80:#5a9dc8:#b29fdb:#69b8ce:#eeeeee"
    foreground_color = "#66ff66"
    background_color = "#101010"
    cursor_color = "#66ff66"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
