[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#191919"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#484848"

[profiles]
  [[default]]
    palette = "#191919:#eb3d51:#66b61a:#d98e1d:#23ffa8:#ff00da:#68a783:#eaeaea:#484848:#be6262:#4b8a10:#e5d95e:#23aaff:#ab005b:#bbcd81:#bbbbbb"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
