[global_config]
  title_transmit_fg_color = "#d2c5bc"
  title_transmit_bg_color = "#202020"
  title_inactive_fg_color = "#d2c5bc"
  title_inactive_bg_color = "#606060"

[profiles]
  [[default]]
    palette = "#202020:#b91e2e:#81957c:#f9bb80:#356579:#2d2031:#0b3452:#909090:#606060:#d14548:#a7b79a:#fae3a0:#7491a1:#87314e:#0f829d:#fff0f0"
    foreground_color = "#d2c5bc"
    background_color = "#101010"
    cursor_color = "#d2c5bc"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
