[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#666666"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#999999"

[profiles]
  [[default]]
    palette = "#666666:#cc6666:#66cc99:#cc9966:#6699cc:#cc6699:#66cccc:#cccccc:#999999:#ff9999:#99ffcc:#ffcc99:#99ccff:#ff99cc:#99ffff:#ffffff"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
