[global_config]
  title_transmit_fg_color = "#d7d0c7"
  title_transmit_bg_color = "#101010"
  title_inactive_fg_color = "#d7d0c7"
  title_inactive_bg_color = "#404040"

[profiles]
  [[default]]
    palette = "#101010:#e84f4f:#b8d68c:#e1aa5d:#7dc1cf:#9b64fb:#6d878d:#dddddd:#404040:#d23d3d:#a0cf5d:#f39d21:#4e9fb1:#8542ff:#42717b:#dddddd"
    foreground_color = "#d7d0c7"
    background_color = "#151515"
    cursor_color = "#d7d0c7"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
