[global_config]
  title_transmit_fg_color = "#34302d"
  title_transmit_bg_color = "#666661"
  title_inactive_fg_color = "#34302d"
  title_inactive_bg_color = "#7f7f7a"

[profiles]
  [[default]]
    palette = "#666661:#992e2e:#4c3226:#a67c53:#4c7399:#bf9986:#d97742:#34302d:#7f7f7a:#b23636:#664233:#bf8f60:#5986b2:#d9ae98:#f2854a:#4c4742"
    foreground_color = "#34302d"
    background_color = "#f5e7de"
    cursor_color = "#34302d"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
