[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#1e2320"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#709080"

[profiles]
  [[default]]
    palette = "#1e2320:#705050:#60b48a:#dfaf8f:#506070:#dc8cc3:#8cd0d3:#dcdccc:#709080:#dca3a3:#c3bf9f:#f0dfaf:#94bff3:#ec93d3:#93e0e3:#ffffff"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
