[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_font = Inconsolata Italic 9
  title_inactive_bg_color = "#707277"
  title_inactive_fg_color = "#a4a6ab"
  title_transmit_bg_color = "#5b5955"
  title_transmit_fg_color = "#a4a6ab"
  title_use_system_font = False
[keybindings]
  broadcast_all = <Primary><Alt>b
  broadcast_group = None
  broadcast_off = <Primary><Shift>b
  go_down = <Alt>j
  go_left = <Alt>h
  go_right = <Alt>l
  go_up = <Alt>k
  help = None
  layout_launcher = <Shift><Alt>l
  next_profile = <Super>p
  previous_profile = <Shift><Super>p
  resize_down = <Primary><Shift>j
  resize_left = <Primary><Shift>h
  resize_right = <Primary><Shift>l
  resize_up = <Primary><Shift>k
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2d2c28"
    background_darkness = 0.91
    background_image = None
    background_type = transparent
    cursor_color = "#a4a6aa"
    font = Inconsolata Medium 14
    foreground_color = "#a4a6ab"
    icon_bell = False
    palette = "#5b5955:#c4756e:#559a6a:#9b8a4b:#6a8dca:#b577ac:#0fa9b8:#dbdde2:#707277:#f6a299:#82c896:#cab775:#98bbfb:#e5a4db:#53cad9:#f7f9ff"
    scroll_on_output = False
    scrollback_lines = 5000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[a-vim-solarized]]
    background_color = "#002b36"
    background_darkness = 0.93
    background_image = None
    background_type = transparent
    font = Inconsolata Medium 14
    foreground_color = "#839496"
    icon_bell = False
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scroll_on_output = False
    scrollback_lines = 5000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[light]]
    palette = "#c5c1b4:#e75c58:#00a250:#a08a00:#208ffb:#d160c4:#00a4c1:#3e424d:#a1a6b2:#b22b31:#007427:#715f00:#0065ca:#a03196:#007693:#282c36"
    foreground_color = "#6d727e"
    background_color = "#fef9ec"
    cursor_color = "#6d727e"
